body {
    font-family: 'Abel', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.container {
    max-width: 100%;
}

.contact {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}

.menu_list {
    list-style: none;
}

.menu_link {
    text-decoration: none;
    color: #000000;
    padding-right: 20px;
}

.call {
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 270px;
    flex-wrap: nowrap;
}

.number {
    margin-left: 45px;
}

.number {
    letter-spacing: 0.75px;
    text-transform: uppercase;
}

.mail {
    padding-left: 270px;
}

.follow {
    display: flex;
    flex-direction: row;
    padding-right: 270px;
}

.catalog {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.catalog_1 {
    display: flex;
    padding-left: 270px;
    flex-wrap: nowrap;
}

.catalog_2 {
    display: flex;
    flex-wrap: nowrap;
}

.catalog_3 {
    display: flex;
    flex-wrap: nowrap;
    padding-right: 275px;
}

.furniture_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 270px;
    padding-right: 270px;
    align-items: center;
}

.menu_link_furniture {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
}

.search {
    padding-left: 65px;
}

.search_input {
    width: 331px;
    height: 40px;
    padding: 8px 0 0 15px;
    box-sizing: border-box;
    background-color: #F6F6F6;
    background-image: url(./images/Header/search.svg);
    background-repeat: no-repeat;
    background-position: bottom 6px right 17px;
    border: 1px solid rgba(109, 109, 109, 0.7);
    border-radius: 2px;
}

.search_input_text {
    width: 250px;
    height: 20px;
    padding: 0;
    margin: 0;
    border: 0;
}


::-webkit-input-placeholder {
    font-family: 'Abel', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    background-color: #F6F6F6;
}

input:focus {
    outline: none;
}

.header_banner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 270;
    padding-right: 270;
}

.header_banner_modern {
    background-image: url(./images/banner/image\ 3133.png);
    width: 678px;
    height: 567px;
    margin: 20px;
    text-align: center;
}

.header_banner_classic {
    background-image: url(./images/banner/image\ 3132.png);
    width: 678px;
    height: 567px;
    margin: 20px;
    text-align: center;
}

.header_banner_text {
    padding-top: 230px;
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header_btn_text {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.25px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header_banner_btn {
    background-color: transparent;
    width: 210px;
    height: 50px;
    border: 1px solid white;
}

.header_btn_link {
    text-decoration: none;
}

.section_rooms_h1 {
    font-size: 20px;
    line-height: 32px;
    text-transform: uppercase;
    color: #000000;

}

.section_rooms_text {
    padding-top: 60px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding-left: 269px;
    padding-right: 272px;
}

.section_rooms_link {
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #000000;

}

.rooms_img_link {
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.6);
}

.section_rooms_img {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 10px;
}

.rooms_img {
    width: 290px;
    height: 300px;
}